.DS_Store
**/__pycache__

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
.ipynb_checkpoints/

# Ignore data files
*.csv
*.pickle
*.pkl
*.feather
*pyc
*yaml
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.xlsx
*.png
*.jpg
